.colourA{
    color: #048E98;
  }
  
  .bgcolourA{
    background-color: #048E98;
  }
  
  .colourB{
    color: #ff4d4d;
  }
  
  .bgcolourB{
    background-color: #ff4d4d;
  }
  
  .colourC{
    color: #7e7e7e;
  }
  
  .bgcolourC{
    background-color: #7e7e7e;
  }
  
  .colourD{
    color: #fff;
  }
  
  .bgcolourD{
    background-color: #fff;
  }
  
  .colourE{
    color: #272727;
  }
  
  .bgcolourE{
    background-color: #272727;
  }
  
  .hide {
    display: none;
  }
      
  .onHover:hover + .hide {
    display: block;
    color: red;
  }
  